$mainColor: #2B4074;
$secondaryColor: white;
$tertiaryColor: #F9F6E5;
$quartaryColor: #4A4A4A;
$quintaryColor: #9B9B9B;

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Condensed', sans-serif;
$tertiaryFont: 'Dosis', sans-serif;