@import "./fonts/fonts.scss";
@import "./scss/reset.scss";
@import "./scss/variables.scss";
@import "./scss/global.scss";

body {
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    padding: 0 20px;

    @media (min-width: 640px) {
        padding: 0 30px;
    }
    @media (min-width: 768px) {
        padding: 0 40px;
    }

    @media (min-width: 1024px) {
        max-width: 1200px;
        margin: 0 auto;
    }

    @media (min-width: 1440px) {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 60px;
    }
}

/*----------------------------------------------HEADER------------------------------------------*/
.header {
    background-color: $mainColor;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        @media (min-width: 640px) {
            min-height: 100px;
        }
    }
    &__menu-btn {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 3px;
        background-color: $secondaryColor;
        position: relative;
        &::after {
            content: '';
            width: 13px;
            height: 2px;
            border-radius: 1px;
            background-color: $mainColor;
            position: absolute;
            top: 16px;
            left: 13px;
            box-shadow: 0 4px $mainColor, 0 8px $mainColor;
        }
        @media (min-width: 1440px) {
            margin-right: 90px;
        }
    }
}
/*----------------------------------------------MAIN------------------------------------------*/
/*-------------------------------------------TOP SLIDER------------------------------------------*/
.top-slider {
    background-image: url(./images/pictures/bg-top-slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__inner {
        position: relative;
        min-height: 193px;
        text-align: center;
        padding: 45px 0 20px;
        @media (min-width: 640px) {
        padding: 64px 0 52px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        @media (min-width: 768px) {
        padding: 87px 0 52px;
        }
        @media (min-width: 1024px) {
            padding: 110px 0 80px;
            }
    }
    &__box {
        margin: 0 auto;
        max-width: 256px;
        color: $secondaryColor;
        position: relative;
        @media (min-width: 640px) {
            max-width: 600px;
            }
            @media (min-width: 768px) {
                max-width: 588px;
            }
            @media (min-width: 1440px) {
                max-width: 840px;
            }
    }
    &__title {
        display: none;
        font-size: 28px;
        line-height: 28px;
        font-weight: normal;
        margin-bottom: 55px;
        font-family: $secondaryFont;
        @media (min-width: 640px) {
            font-size: 60px;
            line-height: 60px;
            margin-bottom: 0px;
        }
        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
        @media (min-width: 1024px) {
            font-size: 84px;
            line-height: 84px;
        }
        @media (min-width: 1440px) {
            font-size: 84px;
            line-height: 84px;
            }
        &.active {
            display: block;
            &::after {
                content: '';
                width: 61px;
                height: 8px;
                border-radius: 1px;
                background-color: #4A4A4A;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -25px;
                margin: 0 auto;
                @media (min-width: 640px) {
                    bottom: -13px;
                    margin-bottom: 0;
                    }
                    @media (min-width: 768px) {
                        display: none;
                    }
            }
        }
    }
    &__text {
        display: none;
        @media (min-width: 768px) {
            display: block;
            font-family: $secondaryFont;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            color: $secondaryColor;
            max-width: 614px;
        }
        @media (min-width: 1440px) {
            max-width: 747px;
        }
    }
    &__btn {
        display: none;
        @media (min-width: 640px) {
            display: block;
            background: #2B4074;
            border-radius: 3px;
            padding: 16px 45px;
            font-family: $mainFont;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 18px;
            color: $tertiaryColor;
            margin-top: 43px;
            margin-bottom: 53px;
            }
            @media (min-width: 768px) {
                margin-top: 32px;
                margin-bottom: 50px;
            }
            @media (min-width: 1024px) {
                margin-top: 12px;
                margin-bottom: 112px;
            }
            @media (min-width: 1440px) {
                margin-bottom: 123px;
                margin-top: 28px;
            }
    }
    &__scroll {
        margin: 0 auto;
        color: $secondaryColor;
        background-color: $mainColor;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        &.active {
            border: 1px solid #476E4D;
            background-color: transparent;
        } 
    }
    &__prev,
    &__next {
        display: none;
        @media (min-width:640px) {
            display: block;
            width: 56px;
            height: 56px;
            position: absolute;
            right: -30px;
        }
        @media (min-width: 768px) {
            right: -40px;
        }
        @media (min-width: 1440px) {
            right: -50px;
            width: 70px;
            height: 70px;
        }
    }
    &__prev {
        bottom: 50%;
        background-color: $mainColor;
        &-img {
            transform: translateX(3px);
        }
    }
    &__next {
        background-color: $secondaryColor;
        top: 50%;
        &-img {
            transform: translateX(-3px);
        }
    }
}
/*-------------------------------------CALL--------------------------*/
.call {
    background-color: $mainColor;
    text-align: center;
    @media (min-width: 768px) {
        text-align: left;
    }
    &__inner {
        padding: 40px 0;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0 30px;
        }
        @media (min-width: 1024px) {
            padding-bottom: 40px;
        }
        @media (min-width: 1440px) {
            margin-left: 90px;
            margin-right: 90px;
        }
    }
    &__box {
        color: $secondaryColor;
    }
    &__title {
        font-family: $mainFont;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        @media (min-width: 1440px) {
            line-height: 32px;
        }
    }
    &__text {
        font-family: $tertiaryFont;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 40px;
        @media (min-width:640px) {
            max-width: 580px;
            margin: 0 auto 40px;
        }
        @media (min-width: 768px) {
            max-width: 427px;
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            max-width: 470px;
        }
        @media (min-width: 1024px) {
            max-width: 588px;
        }
    }
    &__btn {
        font-family: $mainFont;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: $mainColor;
        background-color: $tertiaryColor;
        padding: 16px;
        border-radius: 3px;
        text-transform: uppercase;
    }
}
/*-------------------------------------SERVICES--------------------------*/

.services {
    padding: 32px 0 40px;
    @media (min-width: 768px) {
        padding-top: 50px;
    }
    @media (min-width: 1024px) {
        padding-top: 52px;
        padding-bottom: 0;
    }
    @media (min-width: 1440px) {
        padding-top: 0;
    }
    &__inner {
        @media (min-width: 1440px) {
            display: flex;
            margin-right: -40px;
            margin-left: -40px;
        }
    }
    &__head {
        text-align: center;
        @media (min-width: 1440px) {
            padding-top: 90px;
            margin-right: 100px;
        }
    }
    &__title {
        font-family: $secondaryFont;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: $mainColor;
        padding-bottom: 20px;
        margin-bottom: 49px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            width: 100px;
            height: 8px;
            background-color: $mainColor;
        }
        @media (min-width:640px) {
            font-size: 48px;
            line-height: 56px;
            padding-bottom: 0;
            margin-bottom: 24px;
            &::after {
                display: none;
            }
        }
        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
        @media (min-width: 1024px) {
            margin-bottom: 61px;
        }
        @media (min-width: 1440px) {
            margin-bottom: 74px;
        }
    }
    &__descr {
        font-family: $mainFont;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #4A4A4A;
        margin-bottom: 21px;
        @media (min-width:640px) {
            max-width: 470px;
            margin: 0 auto;
            font-size: 24px;
            padding-bottom: 30px;
            margin-bottom: 31px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
                width: 100px;
                height: 8px;
                background-color: $mainColor;
            }
        }
        @media (min-width: 768px) {
            text-align: left;
            max-width: 689px;
            padding-bottom: 32px;
            margin-bottom: 32px;
            &::after {
                margin: 0;
            }
        }
        @media (min-width: 1024px) {
            max-width: none;
            line-height: 26px;
            padding-bottom: 38px;
            margin-bottom: 34px;
        }
        @media (min-width: 1440px) {
            width: 351px;
            padding-bottom: 31px;
            margin-bottom: 35px;
        }
    }
    &__text {
        font-family: $mainFont;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        color: #797979;
        margin-bottom: 40px;
        @media (min-width:640px) {
            max-width: 450px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        @media (min-width: 768px) {
            text-align: left;
            max-width: 689px;
            margin-bottom: 27px;
        }
        @media (min-width: 1024px) {
            max-width: 622px;
            margin: 0;
            margin-bottom: 32px;
        }
    }

    &__items {
        text-align: center;
        @media (min-width:640px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-right: -30px;
        }
        @media (min-width: 768px) {
            margin-left: -40px;
            margin-right: -40px;
        }
        @media (min-width: 1440px) {
            min-width: 921px;
        }
    }
    &__item {
        border: 1px solid $tertiaryColor;
        min-height: 310px;
        max-height: 310px;
        padding: 18px 18px 15px;
        &:not(:last-child) {
            border-bottom: none;
        }
        &:hover {
            padding-bottom: 28px;
            .services__item-img {
                padding-top: 42px;
                margin-bottom: 14px;
                @media (min-width: 1024px) {
                    padding-top: 25px;
                }
                @media (min-width: 1024px) {
                    padding-top: 20px;
                }
            }
            .services__item-title {
                margin-bottom: 35px;
                @media (min-width: 1024px) {
                    margin-bottom: 22px;
                }
            }
            .services__item-text {
                visibility: visible;
                opacity: 1;
                height: 100%;
                transition: .4s;

            }
            .services__item-link {
                opacity: 1;
                height: auto;
                visibility: visible;
                transition: .4s;

            }
            .services__item-inner {
                min-height: 277px;
                border: 4px solid #2B4074;
                box-sizing: border-box;
                padding-left: 25px;
                padding-right: 25px;
                @media (min-width:768px) {
                    min-height: 288px;
                    max-height: 288px;
                }
                @media (min-width: 1024px) {
                    min-height: 255px;
                    max-height: 255px;
                    padding-left: 0;
                    padding-right: 0;
                }
                @media (min-width: 1440px) {
                    min-height: 255px;
                    max-height: 255px;
                    min-width: 212px;
                }
            }
        }
        @media (min-width:640px) {
            width: 50%;
            max-height: 310px;
            &:nth-child(even) {
                border-left: none;
            }
            &:nth-last-child(2) {
                border: 1px solid $tertiaryColor;
            }
        }
        @media (min-width:768px) {
            min-height: 337px;
            padding: 23px 26px 24px 26px;
        }
        @media (min-width: 1024px) {
            width: 25%;
            min-height: 275px;
            max-height: 275px;
            padding: 10px 14px 12px 14px;
            &:nth-child(4n-2) {
                border-right: none;
            }
        }
        @media (min-width: 1440px) {
            padding: 7px 9px 7px 9px;
            width: 228px;
        }
    }
    &__item-inner {
        transition: .4s;
        border: 0 solid #2B4074;
        @media (min-width: 768px) {
            padding: 0 20px;
        }
        @media (min-width: 1024px) {
            min-height: 255px;
            max-height: 255px;
            overflow-y: hidden;
        }
        @media (min-width: 1440px) {
            padding-left: 0;
            padding-right: 0;
            
        }
    }
    &__item-img {
        padding-top: 98px;
        margin-bottom: 30px;
    }
    &__item-title {
        font-family: $secondaryFont;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: #4A4A4A;
        @media (min-width: 320px) {
            max-width: 283px;
            margin: 0 auto;
        }
        @media (min-width: 1440px) {
            width: auto;
        }
    }
    &__item-text {
        visibility: hidden;
        opacity: 0;
        height: 0;
        font-family: $tertiaryFont;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #9B9B9B;
        margin-bottom: 17px;
        @media (min-width: 1024px) {
            margin-bottom: 25px;
            font-family: $mainFont;
            font-weight: 500;
            }
    }
    &__item-link {
        opacity: 0;
        height: 0;
        visibility: hidden;
        font-family: $secondaryFont;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: $mainColor;
    }
}

/*-------------------------------------PROJECT-------------------------*/
.project {
    padding: 25px 0 20px;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
    text-align: center;
    &__title {
        color: #FFFFFF;
        margin-bottom: 40px;
        &::after {
            background-color: #fff;
        }
    }
    &__item:hover {
        .project__item-inner {
        opacity: 0.83;
        }
        .project__item-info,
        .project__item-zoom {
            opacity: 1;
        }
    }
    &__item-image {
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12px 13px;
        box-shadow: 0px 4px 4px rgba(71, 110, 77, 0.351506);
        border-radius: 4px;
        margin-bottom: 21px;
    }
    &__item-inner {
        transition: .5s;
        opacity: 0;
        min-width: 254px;
        height: 227px;
        background: $tertiaryColor;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item-info,
    &__item-zoom {
        transition: .5s;
        opacity: 0;
        margin: 0 7px;
    }
    &__item-title {
        font-family: $secondaryFont;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: $mainColor;
        margin-bottom: 20px;
    }
}

@media (min-width: 640px) {
    .project {
        padding: 40px 0 44px;
        &__title {
            margin-bottom: 40px;
            &::after {
                width: 100px;
            }
        }
        &__item-image {
            min-height: 460px;
            min-width: 518px;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 21px 24px;
        }
        &__item-inner {
            min-width: 470px;
            height: 418px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 24px;
        }
    }
}
@media (min-width: 768px) {
    .project {
        padding: 80px 0 56px;
        &__title {
            margin-bottom: 80px;
            padding-bottom: 24px;
        }
        &__items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item-image {
            min-height: 283px;
            min-width: 317px;
            max-width: 317px;
            padding: 13px 15px;
            margin: 0 12px 30px;
        }
        &__item-inner {
            min-width: 287px;
            width: 287px;
            max-width: 287px;
            height: 257px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 24px;
        }
    }
}
@media (min-width: 1440px) {
    .project {

        &__items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item-image {
            min-height: 239px;
            min-width: 268px;
            max-width: 268px;
            padding: 11px 12px;
            margin: 0 11px 37px;
        }
        &__item-inner {
            min-width: 243px;
            width: 243px;
            max-width: 243px;
            height: 217px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 24px;
        }
    }
}
/*-------------------------------------TEAM-------------------------*/
.team {
    padding: 20px 0 40px;
    text-align: center;
    &__image {
        width: 100%;
    }
    &__title {
        color: $quartaryColor;
        margin-bottom: 23px;
    }
    &__text {
    font-family: $mainFont;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $quintaryColor;
    margin-bottom: 90px;
    }
    &__btn {
        font-family: $mainFont;
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        color: $tertiaryColor;
        background: $mainColor;
        border-radius: 3px;
        padding: 21px 26px;
    }
}

@media (min-width: 640px) {
    .team {
        padding: 40px 0 53px;
        &__image {
            margin-bottom: 46px;
        }
        &__title {
            font-size: 36px;
            line-height: 38px;
            padding-bottom: 20px;
            margin-bottom: 40px;
            &::after {
                width: 100px;
            }
        }
        &__text {
        margin-bottom: 70px;
        }
    }    
}

@media (min-width: 768px) {
    .team {
        padding: 40px 0 48px;
        text-align: left;
        &__inner {
            display: flex;
        }
        &__image {
            margin-bottom: 0;
            width: 240px;
            height: 100%;
            margin-right: 40px;
        }
        &__title {
            font-size: 36px;
            line-height: 38px;
            padding-bottom: 20px;
            margin-bottom: 7px;
            &::after {
                margin: 0;
            }
        }
        &__text {
            margin-bottom: 35px;
        }
        &__btn {
            font-size: 18px;
        }
    }    
}

@media (min-width: 1024px) {
    .team {
        padding: 40px 0 48px;
        &__image {
            width: 380px;
            margin-right: 60px;
        }
        &__title {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 19px;
        }
        &__text {
            margin-bottom: 35px;
            line-height: 24px;
            font-size: 18px;
        }
        &__btn {
            margin-bottom: 30px;
        }
    }    
}

@media (min-width: 1440px) {
    .team {
        padding: 50px 0 50px;
        &__image {
            width: 420px;
            margin-right: 100px;
        }
        &__title {
            padding-bottom: 30px;
            margin-bottom: 39px;
        }
        &__text {
            max-width: 584px;
            margin-bottom: 39px;
        }
    }    
}

/*-------------------------------------QUOTES-------------------------*/

.quotes {
    padding: 55px 0 40px;
    text-align: center;
    font-family: $secondaryFont;
    &__icon {
        margin-bottom: 95px;
    }
    &__text {
        font-weight: normal;
        font-size: 24px;
        line-height: 26px;
        color: $quartaryColor;
        margin-bottom: 20px;
        & span {
            font-weight: bold;
            color: $mainColor;
        }
    }
    &__author {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        color: $quartaryColor;
        margin-bottom: 40px;
    }
    &__slider-btn {
        width: 10px;
        height: 10px;
        background: $mainColor;
        border-radius: 50%;
        margin: 0 5px;
        &.active {
            background: transparent;
            border: 1px solid #476E4D;
        }
    }
}

@media (min-width: 640px) {
    .quotes {
        padding-bottom: 60px;
        &__icon {
            margin-bottom: 40px;
        }
        &__text {
            font-size: 32px;
            line-height: 34px;
            margin-bottom: 40px;
        }
        &__author {
            letter-spacing: 2px;
        }
    }    
}

@media (min-width: 768px) {
    .quotes {
        padding: 50px 0 56px;
    }    
}

@media (min-width: 1024px) {
    .quotes {
        padding: 100px 0;
        &__icon {
            margin-bottom: 44px;
        }
        &__text {
            line-height: 37px;
            margin-bottom: 45px;
        }
        &__author {
            margin-bottom: 80px;
        }
    }    
}
@media (min-width: 1440px) {
    .quotes {
        &__icon {
            margin-bottom: 55px;
        }
        &__text {
            font-size: 36px;
            line-height: 42px;
            max-width: 983px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__author {
            font-size: 24px;
            line-height: 28px;
        }
    }    
}

/*-------------------------------------FOOTER-------------------------*/

.footer {
    background-color: $mainColor;
    text-align: center;
    padding: 85px 0 63px;
    &__logo {
    background-color: $mainColor;
    width: 230px;
    margin: 0 auto;
    margin-top: -115px;
    margin-bottom: 75px;
    }
    &__text {
        font-family: $mainFont;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 2px;
        color: #FFFFFF;
        margin-bottom: 43px;
    }
    &__links {
        display: flex;
        flex-direction: column;
    }
    &__links-item {
        margin-bottom: 46px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__block-item {
        margin-bottom: 41px;
    }
    &__block-title {
        font-family: $secondaryFont;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 2px;
        color: $tertiaryColor;
        margin-bottom: 14px;
    }
    &__block-link {
        color: #fff;
        display: block;
        margin: 0 auto;
        font-family: $mainFont;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 640px) {
    .footer {
        text-align: left;
        padding: 54px 0 100px;
        &__logo {
            text-align: center;
            margin-top: -85px;
            margin-bottom: 54px;
        }
        &__text {
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        &__links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 40px;
        }
        &__links-item {
            margin-bottom: 0;
            text-align: center;
            width: 25%;
            padding: 20px 60px;
            border: 1px solid #7EBF84;
            border-left: none;
            &:not(:last-child) {
                margin-bottom: 0px;
            }
            &:last-child {
                border-right: none;
            }
        }
        &__block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__block-item {
            margin-bottom: 28px;
            width: 50%;
        }
        &__block-title {
            margin-bottom: 22px;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 54px 0 56px;
        &__logo {
            margin-bottom: 84px;
        }
        &__text {
            font-size: 36px;
            line-height: 32px;
        }
        &__links {
            margin-bottom: 69px;
        }
        &__block-title {
            margin-bottom: 22px;
        }
    }
}
@media (min-width: 1024px) {
    .footer {
        &__logo {
            margin-bottom: 128px;
        }
        &__text {
            max-width: 751px;
            font-size: 36px;
            line-height: 32px;
            margin-bottom: 80px;
        }
        &__links {
            margin-bottom: 69px;
        }
        &__links-item {
            padding: 23px 107px;
        }
        &__block-item {
            width: 25%;
        }
        &__block-title {
            margin-bottom: 24px;
        }
    }
}
@media (min-width: 1440px) {
    .footer {
        padding-bottom: 97px;
        &__links-item {
            padding: 23px 107px;
        }
        &__block-item {
            width: 25%;
            margin-bottom: 0;
        }
        &__block-title {
            margin-bottom: 22px;
        }
    }
}